name:
  Run Nightly Jobs
#on:
#  schedule:
#    - cron: "0 0 * * *"
on:
  pull_request:
    branches:
      - master

jobs:
  e2e:
    name: Run e2e tests
    runs-on: ubuntu-latest
    steps:
      - name: Set Variables
        id: set_variables
        run: |
          echo ::set-output name=SLACK_CHANNEL::nightly-runs
          echo ::set-output name=SLACK_WEBHOOK::${{ secrets.SLACK_WEBHOOK }}
      - name: Set up Node
        uses: actions/setup-node@v1
        with:
          node-version: '13'
      - name: Checkout Ref
        uses: actions/checkout@v1
        with:
          ref: ${{ github.event.push.after }}
      - name: Slack Notification
        uses: rtCamp/action-slack-notify@v2.0.2
        env:
          SLACK_WEBHOOK: ${{ steps.set_variables.outputs.SLACK_WEBHOOK }}
          SLACK_CHANNEL: ${{ steps.set_variables.outputs.SLACK_CHANNEL }}
          SLACK_TITLE: '${{ github.repository }} e2e tests started:'
          SLACK_MESSAGE: 'Testing <https://github.com/${{ github.repository }}> against multiple browsers'
          SLACK_COLOR: '#ffff00'
      - name: Run e2e Tests
        run: bash -e ./scripts/e2e-test.sh
        env:
          NPM_TOKEN: ""
          BROWSERSTACK_USERNAME: ${{ secrets.BROWSERSTACK_USERNAME }}
          BROWSERSTACK_ACCESS_KEY: ${{ secrets.BROWSERSTACK_ACCESS_KEY }}
      - name: Slack Notification (failure)
        if: failure()
        uses: rtCamp/action-slack-notify@v2.0.2
        env:
          SLACK_WEBHOOK: ${{ steps.set_variables.outputs.SLACK_WEBHOOK }}
          SLACK_CHANNEL: ${{ steps.set_variables.outputs.SLACK_CHANNEL }}
          SLACK_TITLE: '${{ github.repository }} e2e tests failed :boom:'
          SLACK_MESSAGE: 'e2e tests on <https://github.com/${{ github.repository }}> failed.'
          SLACK_COLOR: '#ff0000'
      - name: Slack Notification (success)
        if: success()
        uses: rtCamp/action-slack-notify@v2.0.2
        env:
          SLACK_WEBHOOK: ${{ steps.set_variables.outputs.SLACK_WEBHOOK }}
          SLACK_CHANNEL: ${{ steps.set_variables.outputs.SLACK_CHANNEL }}
          SLACK_TITLE: '${{ github.repository }} e2e tests failed :boom:'
          SLACK_MESSAGE: 'e2e tests on <https://github.com/${{ github.repository }}> succeeded.'
          SLACK_COLOR: '#33cc33'
