name: Run Tests and Linting

on:
  push:
    branches: 
      - '**'

jobs:
  deploy:
    name: Run Tests and Linting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v1
        with:
          node-version: '13'
      - name: Checkout Ref
        uses: actions/checkout@v1
        with: 
          ref: ${{ github.event.push.after }}
      - name: Set Up Variables
        id: variables
        run: |
          export EMPTY_STRING=""
          echo ::set-output name=MAJOR::$(node -p "re = new RegExp('^(\\\d+).(\\\d+).(\\\d+)'); v = require('./package.json').version; re.exec(v)[1]")
          echo ::set-output name=MINOR::$(node -p "re = new RegExp('^(\\\d+).(\\\d+).(\\\d+)'); v = require('./package.json').version; re.exec(v)[2]")
          if [[ "${{ github.event.ref }}" == "refs/heads/master" ]]
          then
            echo ::set-output name=SUFFIX::${EMPTY_STRING}
          else
            echo ::set-output name=SUFFIX::-${GITHUB_RUN_NUMBER}-${GITHUB_SHA:0:7}
          fi
        env: 
          NPM_TOKEN: ""
      - uses: evolv-ai/github-actions/get-refs@master
        id: get_refs
        with:
          token: "${{ github.token }}"
          ref: 'tags/v${{steps.variables.outputs.MAJOR}}.${{steps.variables.outputs.MINOR}}.'
      - uses: evolv-ai/github-actions/semver-bump-tag@master
        id: semver_bump
        with:
          token: "${{ github.token }}"
          tags: ${{steps.get_refs.outputs.refs}}
          bump: patch
          suffix: ${{steps.variables.outputs.SUFFIX}}
      - name: Run Tests and Lint
        run: bash -e ./scripts/test.sh
        env: 
          NPM_TOKEN: ""

